.top_header h1 { 
    font-size: 6rem;
    width: 50%;
        } 

.team-info div {
    display: flex;
    align-items: center;
    margin: 1rem;
    // border: 1px solid blue;
    border-radius: 9px;
    padding: 1rem;
    img {
        height: 300px;
        width: 300px;
        border: 1px solid blue;
        border-radius: 25px;
    }
    
}
    
.lead, .team-member {
    h1 {
        font-size: 3rem;
        margin: 2rem;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
    div {
        display: flex;
        flex-direction: column;
    }
}


